@import "tailwindcss";

/* hide scrollbar but allow scroll */
.hide-scroll-bar::-webkit-scrollbar {
  display: none;
}

/* Firefox */
.hide-scroll-bar {
  -ms-overflow-style: none;
  /* IE & Edge */
  scrollbar-width: none;
  /* Firefox */
}


/* ===============================================
   Tailwind se override react-tabs ki css style
================================================== */
.react-tabs__tab--selected {
  background-color: #ffffff;
  border-radius: 0.75rem;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1),
    0 1px 2px rgba(0, 0, 0, 0.06);
  padding: 1.5rem;
  display: flex;
  align-items: center;
  gap: 1rem;
  cursor: pointer;
  transform: scale(1.03);
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -4px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
  outline: none;
  border: none;
}


/* =======================================
            Toast Message style
========================================== */
/* Toast Message Color line show */
.Toastify__progress-bar {
  background: linear-gradient(
    90deg,
    #22c55e,
    #3b82f6,
    #a855f7,
    #ec4899,
    #f59e0b,
    #ef4444
  );
}

/* MOBILE (≤480px) */
@media (max-width: 480px) {
  .Toastify__toast-container--top-center {
    left: 0 !important;
    right: 0 !important;
    width: 100% !important;
    padding-left: 16px;
    padding-right: 16px;
    /* border-radius: 100px; */
  }

  .Toastify__toast {
    width: 100%;
    max-width: 100%;
    font-size: 12px;
    padding: 10px 12px;
    border-radius: 0 0 6px 6px; /* ✅ now bottom corners visible */
  }
}

/* DESKTOP (>480px) */
@media (min-width: 481px) {
  .Toastify__toast-container--top-center {
    left: 50% !important;
    right: auto !important;
    transform: translateX(-50%);
    width: auto !important;
    padding: 0 !important;
  }
}



/* =======================================
   Scroll bar ke liye custom color style
========================================== */
/* scroll-x pink theme */
.scrollbar-pink::-webkit-scrollbar {
  height: 8px; /* horizontal scroll height */
}

.scrollbar-pink::-webkit-scrollbar-track {
  background: #fce7f3; /* pink-100 */
  border-radius: 10px;
}

.scrollbar-pink::-webkit-scrollbar-thumb {
  background-color: #f472b6; /* pink-400 */
  border-radius: 10px;
}

.scrollbar-pink::-webkit-scrollbar-thumb:hover {
  background-color: #ec4899; /* pink-500 */
}

/* Firefox */
.scrollbar-pink {
  scrollbar-width: thin;
  scrollbar-color: #f472b6 #fce7f3;
}
  